/* ________________Global________________ */
:root {
  --brand-dark: rgb(32, 33, 36);
  --brand-hex: rgb(85, 38, 196);
  --brand-white: rgb(255, 255, 255);
  --brand-light: rgb(248, 248, 248);
  --grid-title: rgb(37, 37, 37);
  --border-default: 0.25px groove rgba(0, 0, 0, 0.3);
  --shadow-as-a-border: 0 0 0 0.25px rgba(0, 0, 0, 0.3);
  --default-font-size: 1rem;
  --poppins: "Poppins", san-sherif;
}

body[data-theme="dark"] {
  --brand-dark: rgb(255, 255, 255);
  --brand-hex: rgb(85, 38, 196);
  --brand-white: rgb(32, 33, 36);
  --brand-light: rgb(36, 36, 36);
  --grid-title: rgb(255, 255, 255);
  --border-default: 0.25px groove rgba(255, 255, 255, 0.3);
  --shadow-as-a-border: 0 0 0 0.25px rgba(255, 255, 255, 0.3);
}

body {
  color: var(--brand-dark);
  background-color: var(--brand-white);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  width: 100%;
  color: white;
}
::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--brand-hex);
  border-radius: 1rem;
}

/* ___________________App Header in global___________________ */
.app__header {
  height: 60px;
  padding: 10px 1rem;
  font-size: var(--default-font-size);
  background-color: var(--brand-light);
  box-shadow: 0 0.25px rgb(161, 161, 161);
  font-family: var(--poppins);
  position: fixed;
  width: 100%;
  z-index: 2000;
}
.app__header .app__navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}
.app__header .nav__container {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.app__header .logo {
  display: grid !important;
  place-items: center !important;
  position: relative;
}
/* .app__header .social__icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
} */
.app__header .app__nav {
  display: none !important;
}
.app__header .navbar__toggler {
  border: none;
  outline: none;
  background-color: transparent;
  transition: transform 0.1s ease-out;
  position: relative;
  display: grid;
  place-items: center;
}
.app__header .app__nav.expand {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 48px;
  left: -16px;
  width: 80vw;
  height: 100vh;
  background-color: var(--brand-light);
  padding: 1rem;
  z-index: 1001;
  transform-origin: 0 0;
  animation: drop-down 0.25s ease-out forwards;
}
@keyframes drop-down {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.app__header .app__nav.expand .app__nav__link {
  margin: 1rem;
}
.app__header .app__nav__link {
  color: var(--brand-dark);
  background-color: transparent;
  font-size: var(--default-font-size);
  margin: 0.75rem;
  text-decoration: none;
}
.app__header .app__nav__link:hover {
  color: var(--brand-hex);
  transition: color 0.25s ease-out;
}

/* .app__nav__link .hover {
  position: absolute;
  left: 100px;
  top: 100%;
  width: 10px;
  height: 20px;
  background-color: var(--brand-hex);
} */

.app__nav .social__icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0.5rem;
}
.app__navbar .social__link {
  padding: 0 0.75rem;
  color: var(--brand-dark);
  background-color: transparent;
  font-size: var(--default-font-size);
  text-decoration: none;
}
.app__navbar .social__link:hover {
  color: var(--brand-hex);
  transition: color 0.25s ease-in;
}
.app__header .social__icon__clone {
  display: none !important;
}

/* theme toggler */
.app__header .theme__toggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-moon {
  color: var(--brand-dark);
}
.fa-sun {
  /* brand dark will be white in dark mode */
  color: var(--brand-dark);
}

/* ___________________App Main in global___________________ */
.app__main {
  font-family: var(--poppins);
  padding-top: 60px;
  z-index: 900;
  position: relative;
}
.app__main .app__banner {
  background: var(--brand-white);
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  padding: 1rem 0 0 0;
}
.app__main .banner__txt {
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

/* _________________section home_________________ */
.section__home {
  display: none;
}
.section__home__2 {
  display: none;
}

/* app collection */
.app__main .collection__ui {
  padding: 48px 0 0 0;
}
.app__main a.section__title {
  position: relative;
  text-decoration: none;
  color: var(--brand-dark);
}
.app__main a.section__title::before {
  content: "";
  position: absolute;
  right: 100%;
  color: var(--brand-dark);
  opacity: 0.5;
}
.app__main a.section__title:hover:before {
  content: "#";
}
.app__main .collection__ui__img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
}

/* app grid in xl */
.app__grid {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: 3rem;
  row-gap: 3rem;
  color: var(--brand-dark);
}
.app__grid .grid__item {
  overflow: hidden;
}
.app__grid .grid__item .grid__img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  border: var(--border-default);
  z-index: 10;
}

/* .grid__link {
  position: relative;
} */

.grid__top {
  position: relative;
  overflow: hidden;
}
.grid__link .effect {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  display: none;
  color: #ffffff;
  font-size: 1.25rem;
}
.grid__link:hover .effect {
  display: grid;
  place-items: center;
  transform: scale(0);
  transform-origin: 0 100%;
  animation: link-scale 0.25s ease-out forwards;
  border-radius: 50% 50% 50% 15%;
}
@keyframes link-scale {
  100% {
    transform: scale(1);
    border-radius: 0.5rem;
  }
}
.app__grid .grid__title {
  font-size: 1rem;
  color: var(--grid-title);
  margin: 0;
}
.app__grid .grid__des {
  margin: 1rem 0 0 0;
  background: var(--brand-white);
  display: flex;
  justify-content: center;
}

/* ___________________App Footer in global___________________ */
.app__footer {
  background-color: var(--brand-light);
  padding: 32px 0;
  margin: 60px 0 0 0;
  font-family: var(--poppins);
  color: var(--brand-dark);
}
.app__footer .social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__footer .social__icon .social__link {
  color: var(--brand-dark);
  text-decoration: none;
  margin: 0.5rem;
  padding: 0;
  font-size: 1rem;
}
.app__footer .social__icon .social__link:hover {
  color: var(--brand-hex);
}
.app__footer .footer__link {
  color: var(--brand-dark);
  text-decoration: none;
  margin: 0.5rem 1rem;
  padding: 0;
  font-size: 1rem;
}
.app__footer .footer__link:hover {
  color: var(--brand-hex);
}
.app__footer .subscribe {
  position: relative;
}
.app__footer .input__subscribe {
  border-radius: 1rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
}
.app__footer .submit__btn {
  color: rgb(255, 255, 255);
  background-color: var(--brand-hex);
  border: none;
  outline: none;
  border-radius: 1rem;
  position: absolute;
  right: 0.5rem;
  padding: 0.5rem 1.25rem;
}

/* copyright */
.copyright {
  color: var(--brand-dark);
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.copyright .link {
  color: var(--brand-dark);
  text-decoration: none;
  margin: 0 0.25rem;
  opacity: 0.8;
}

.copyright .link:hover {
  border-bottom: 2px solid var(--brand-dark);
}

/* Founder in global */
.founder {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  height: 2rem;
  width: auto;
  color: var(--brand-dark);
  background-color: var(--brand-white);
  border: 0.25px solid var(--brand-dark);
  border-radius: 2rem;
  padding: 0.25rem 0.25rem;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  transform: scale(0);
  transform-origin: 0 100%;
  animation: ceo 0.25s ease-in forwards;
  z-index: 2010;
}
@keyframes ceo {
  100% {
    transform: scale(1);
  }
}
.founder > .txt {
  padding: 0 0.5rem;
  text-transform: uppercase;
}
.founder:hover {
  color: var(--brand-hex);
  background-color: var(--brand-light);
  border-color: var(--brand-hex);
  transition: all 0.25s ease-out;
}
/* Scroll Top in global */
.scroll__top {
  color: var(--brand-dark);
  background-color: var(--brand-white);
  border: 0.25px solid var(--brand-dark);
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: grid;
  place-items: center;
  border-radius: 2rem;
  font-size: 1rem;
  animation: to-up 0.5s ease-in forwards;
  transform: translateY(50px);
  z-index: 2011;
}
@keyframes to-up {
  33% {
    transform: translateY(-8px);
  }
  66% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}
.scroll__top:hover {
  color: var(--brand-hex);
  border-color: var(--brand-hex);
  transition: all 0.25s ease-out;
}

/* ______________sm______________ */
@media (min-width: 576px) {
  /* ___________________App Header in xl___________________ */
  .app__header {
    height: 80px;
    padding: 20px;
    font-size: var(--default-font-size);
    box-shadow: 0 0.25px rgb(161, 161, 161);
    font-family: var(--poppins);
  }
  .app__header .app__nav__link {
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    margin: 0 0.75rem;
    text-decoration: none;
  }
  .app__header .app__nav__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }
  .app__header .social__link {
    padding: 0 0.75rem;
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    text-decoration: none;
  }
  .app__header .social__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }
  .app__header .social__icon__clone {
    display: none !important;
  }

  /* ___________________App Main ix xl___________________ */
  .app__main {
    font-family: var(--poppins);
  }
  .app__banner {
    padding: 20px 0;
    background: var(--brand-white);
  }
  .banner__txt {
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }
  .collection__ui {
    padding: 120px 0 0 0;
  }
  a.section__title {
    position: relative;
    text-decoration: none;
    color: var(--brand-dark);
  }
  a.section__title::before {
    content: "";
    position: absolute;
    right: 100%;
    color: var(--brand-dark);
    opacity: 0.5;
  }
  a.section__title:hover:before {
    content: "#";
  }
  .collection__ui__img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
  }
  /* app grid in sm */
  .app__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* ___________________App Footer in xl___________________ */
  .app__footer {
    background-color: var(--brand-light);
    padding: 64px 0;
    margin: 120px 0 0 0;
    font-family: var(--poppins);
  }
  .app__footer .social__icon .social__link {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  .subscribe {
    position: relative;
  }
  .input__subscribe {
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
  }
}

/* ______________md______________ */
@media (min-width: 768px) {
  /* ___________________App Header in xl___________________ */
  .app__header {
    height: 80px;
    padding: 20px;
    font-size: var(--default-font-size);
    background-color: var(--brand-light);
    box-shadow: 0 0.25px rgb(161, 161, 161);
    font-family: var(--poppins);
  }
  .app__nav__link {
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    margin: 0 0.75rem;
    text-decoration: none;
  }
  .app__nav__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }
  .social__link {
    padding: 0 0.75rem;
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    text-decoration: none;
  }
  .social__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }

  /* ___________________App Main ix xl___________________ */
  .app__main {
    font-family: var(--poppins);
  }
  .app__banner {
    padding: 20px 0;
    background: var(--brand-white);
  }
  .banner__txt {
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }

  .collection__ui {
    padding: 120px 0 0 0;
  }
  a.section__title {
    position: relative;
    text-decoration: none;
    color: var(--brand-dark);
  }
  a.section__title::before {
    content: "";
    position: absolute;
    right: 100%;
    color: var(--brand-dark);
    opacity: 0.5;
  }
  a.section__title:hover:before {
    content: "#";
  }
  .collection__ui__img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
  }

  /* ___________________App Footer in xl___________________ */
  .app__footer {
    background-color: var(--brand-light);
    padding: 64px 0;
    margin: 120px 0 0 0;
    font-family: var(--poppins);
  }
  .app__footer .social__icon .social__link {
    font-size: 1.5rem;
  }
  .subscribe {
    position: relative;
  }
  .input__subscribe {
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
  }

  .copyright {
    color: var(--brand-dark);
    display: flex;
    justify-content: center;
  }
  /* Founder in xl */
  .founder {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    height: 2.5rem;
    width: auto;
    color: var(--brand-dark);
    background-color: var(--brand-white);
    border: 0.25px solid var(--brand-dark);
    border-radius: 2rem;
    padding: 0.25rem 0.25rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: scale(0);
    transform-origin: 0 100%;
    animation: ceo 0.25s ease-in forwards;
  }
  @keyframes ceo {
    100% {
      transform: scale(1);
    }
  }
  .founder > .txt {
    padding: 0 0.5rem;
    text-transform: uppercase;
  }
  .founder:hover {
    color: var(--brand-hex);
    background-color: var(--brand-light);
    border-color: var(--brand-hex);
    transition: all 0.25s ease-out;
  }
  /* Scroll Top in xl */
  .scroll__top {
    color: var(--brand-dark);
    background-color: var(--brand-white);
    border: 0.25px solid var(--brand-dark);
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    font-size: 1rem;
    animation: to-up 0.5s ease-in forwards;
    transform: translateY(50px);
  }
  @keyframes to-up {
    33% {
      transform: translateY(-8px);
    }
    66% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .scroll__top:hover {
    color: var(--brand-hex);
    border-color: var(--brand-hex);
    transition: all 0.25s ease-out;
  }
}

/* ______________lg______________ */
@media (min-width: 992px) {
  /* ___________________App Header in xl___________________ */
  .app__header {
    height: 80px;
    padding: 20px;
    font-size: var(--default-font-size);
    background-color: var(--brand-light);
    box-shadow: 0 0.25px rgb(161, 161, 161);
    font-family: var(--poppins);
  }
  .app__nav__link {
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    margin: 0.75rem;
    text-decoration: none;
  }
  .app__nav__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }

  .social__link {
    padding: 0 0.75rem;
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    text-decoration: none;
  }
  .social__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }

  /* ___________________App Main ix xl___________________ */
  .app__main {
    font-family: var(--poppins);
  }
  .app__banner {
    padding: 20px 0;
    background: var(--brand-white);
  }
  .banner__txt {
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }

  .collection__ui {
    padding: 120px 0 0 0;
  }
  a.section__title {
    position: relative;
    text-decoration: none;
    color: var(--brand-dark);
  }
  a.section__title::before {
    content: "";
    position: absolute;
    right: 100%;
    color: var(--brand-dark);
    opacity: 0.5;
  }
  a.section__title:hover:before {
    content: "#";
  }
  .collection__ui__img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
  }

  /* ___________________App Footer in xl___________________ */
  .app__footer {
    background-color: var(--brand-light);
    padding: 64px 0;
    margin: 120px 0 0 0;
    font-family: var(--poppins);
  }
  .subscribe {
    position: relative;
  }
  .input__subscribe {
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
  }

  .copyright {
    color: var(--brand-dark);
    display: flex;
    justify-content: center;
  }
  /* Founder in xl */
  .founder {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    height: 2.5rem;
    width: auto;
    color: var(--brand-dark);
    background-color: var(--brand-white);
    border: 0.25px solid var(--brand-dark);
    border-radius: 2rem;
    padding: 0.25rem 0.25rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: scale(0);
    transform-origin: 0 100%;
    animation: ceo 0.25s ease-in forwards;
  }
  @keyframes ceo {
    100% {
      transform: scale(1);
    }
  }
  .founder > .txt {
    padding: 0 0.5rem;
    text-transform: uppercase;
  }
  .founder:hover {
    color: var(--brand-hex);
    background-color: var(--brand-light);
    border-color: var(--brand-hex);
    transition: all 0.25s ease-out;
  }
  /* Scroll Top in xl */
  .scroll__top {
    color: var(--brand-dark);
    background-color: var(--brand-white);
    border: 0.25px solid var(--brand-dark);
    width: 2rem;
    height: 2rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: grid;
    place-items: center;
    border-radius: 2rem;
    font-size: 1rem;
    animation: to-up 0.5s ease-in forwards;
    transform: translateY(50px);
  }
  @keyframes to-up {
    33% {
      transform: translateY(-8px);
    }
    66% {
      transform: translateY(4px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .scroll__top:hover {
    color: var(--brand-hex);
    border-color: var(--brand-hex);
    transition: all 0.25s ease-out;
  }
}

/* ______________xl______________ */
@media (min-width: 1200px) {
  /* ___________________App Header in xl___________________ */
  .app__header {
    height: 80px;
    padding: 20px;
    font-size: var(--default-font-size);
    box-shadow: 0 0.25px rgb(161, 161, 161);
    font-family: var(--poppins);
  }
  /* .app__navbar {
    display: grid !important;
    grid-template-columns: 5fr auto 5fr;
    grid-template-rows: 1fr;
  } */
  .nav__container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center;
    position: relative;
  }

  /* dropdown */
  .app__header .app__nav.expand {
    top: 100%;
    width: 60vw;
    margin: 1rem 0;
  }

  .logo {
    display: grid !important;
    place-items: center;
    position: relative;
  }

  .app__nav {
    display: flex !important;
    flex-direction: row;
  }
  .app__header .app__nav__link {
    color: var(--brand-dark);
    background-color: transparent;
    font-size: var(--default-font-size);
    margin: 0 0.75rem;
    text-decoration: none;
    position: relative;
  }
  .app__header .app__nav__link:hover {
    color: var(--brand-hex);
    transition: color 0.25s ease-in;
  }
  .app__header .app__nav__link:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: var(--brand-hex);
  }

  .app__header .social__icon__clone {
    display: none !important;
  }

  /* ___________________App Main ix xl___________________ */
  .app__main {
    font-family: var(--poppins);
  }
  .app__main .app__banner {
    background: var(--brand-white);
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    padding: 1rem 0;
  }
  .banner__txt {
    font-weight: 500;
    line-height: 1;
    margin: 0;
  }

  /* __________________section home__________________ */
  .section__home {
    position: absolute;
    top: 140px;
    left: 120px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 3rem;
    transform: rotate(45deg);
  }
  .section__home__2 {
    position: absolute;
    top: 240px;
    right: 160px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 3rem;
    transform: rotate(-45deg);
  }
  .section__home > .item:nth-child(1),
  .section__home > .item:nth-child(2),
  .section__home > .item:nth-child(5),
  .section__home > .item:nth-child(6),
  .section__home__2 > .item:nth-child(2),
  .section__home__2 > .item:nth-child(6) {
    display: flex;
    justify-content: flex-end;
  }
  .section__home > .item > img,
  .section__home__2 > .item > img {
    border: var(--border-default);
    border-radius: 0.75rem;
  }

  /* __________________collection ui__________________ */
  .collection__ui {
    padding: 120px 0 0 0;
  }
  a.section__title {
    position: relative;
    text-decoration: none;
    color: var(--brand-dark);
  }
  a.section__title::before {
    content: "";
    position: absolute;
    right: 100%;
    color: var(--brand-dark);
    opacity: 0.5;
  }
  a.section__title:hover:before {
    content: "#";
  }
  .collection__ui__img {
    width: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
  }
  /* app grid in xl */
  .app__grid {
    margin: 2rem 2rem 5rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .app__grid .grid__item .grid__img {
    border-radius: 1rem;
  }
  .grid__link .effect {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    display: none;
    font-size: 1.25rem;
  }
  .grid__link:hover .effect {
    display: grid;
    place-items: center;
    transform: scale(0);
    transform-origin: 0 100%;
    animation: link-scale 0.25s ease-out forwards;
    border-radius: 50% 50% 50% 15%;
  }
  @keyframes link-scale {
    100% {
      transform: scale(1);
      border-radius: 1rem;
    }
  }

  /* ___________________App Footer in xl___________________ */
  .app__footer {
    background-color: var(--brand-light);
    padding: 64px 0;
    margin: 120px 0 0 0;
    font-family: var(--poppins);
  }
  .app__footer .subscribe {
    position: relative;
  }
  .app__footer .input__subscribe {
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
  }
  .app__footer .app__footer .copyright {
    color: var(--brand-dark);
    display: flex;
    justify-content: center;
  }

  /* Founder in xl */
  .founder {
    left: 1rem;
    bottom: 1rem;
    height: 2.5rem;
    border: var(--border-default);
    border-radius: 2rem;
    padding: 0.25rem 0.25rem;
    font-size: var(--default-font-size);
  }

  /* Scroll Top in xl */
  .scroll__top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border: var(--border-default);
    font-size: 1.25rem;
    border-radius: 2rem;
  }
}
