:root {
  --brand-color-1: #5526c4;
  --brand-white: #ffffff;
  --brand-dark: #202124;
  --navbar-height: 80px;
  --brand-red: rgb(152, 35, 22);
  --brand-red: rgb(152, 35, 22);
  --default-font-size: 1rem;
  --default-border: 0.25px solid rgba(0, 0, 0, 0.5);
}

body[data-theme="dark"] {
  --brand-color-1: #5526c4;
  --light: #ffffff;
  --dark: #202124;
}

/* _______________Global_______________ */
html {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background: #ffffff url("../img/bg-body.png") repeat;
  width: 100%;
  /* overflow-x: hidden; */
}
.app__header {
  position: relative;
}
.app__header .app__topbar {
  background-color: var(--brand-red);
  font-size: var(--default-font-size);
  height: 32px;
  color: var(--brand-white);
  display: flex;
  align-items: center;
}
.app__header .social__link {
  color: var(--brand-white);
  font-size: var(--default-font-size);
  margin: 0 0.5rem;
}
.app__header .language {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--brand-white);
}
.app__header .language .opt {
  color: var(--brand-dark);
}
.app__header .currency {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--brand-white);
}
.app__header .currency .opt {
  color: var(--brand-dark);
}

/* app shipment */
.app__shipment {
  overflow-x: hidden;
}

/* navbar in xl */
.app__navbar {
  height: 72px;
  display: flex;
  align-items: center;
}
.app__nav {
  display: none;
}
.app__header .app__nav__link {
  margin: 0 0.5rem;
  color: var(--brand-dark);
  text-decoration: none;
}
.app__header .app__nav__link:hover {
  border-bottom: 2px solid var(--brand-dark);
}
.tracking__form {
  position: relative;
}
.tracking__form .input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  outline: none;
  border: 0.25px solid rgba(0, 0, 0, 0.3);
}
.tracking__form .track {
  position: absolute;
  right: 8px;
  top: 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* app main in sm */
.app__shipment,
.app__delivery,
.app__container__ship,
.app__plan,
.app__form,
.app__map {
  margin-top: 48px;
}
.banner__img {
  width: 100%;
  object-fit: contain;
}

/* card top in sm */
.home__card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5rem 0;
  padding: 1rem 0;
  margin-top: 0;
}
.card__top {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  overflow: hidden;
  color: var(--brand-white);
  border: none;
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}
.card__top:hover {
  transform: translateY(-12px);
  transition: all 0.25s ease-out;
}
.border__red {
  border: none;
}
.learn__more {
  border: none;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  background: var(--brand-red);
  color: var(--brand-white);
}

/* card bottom in xl */
.app__card {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5rem 0;
  color: var(--brand-white);
}
.bg__card__bottom {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem 0;
  border-radius: 1rem;
  transition: transform 0.25s ease-out;
}
.bg__card__bottom:hover {
  transform: translateY(-12px);
  transition: all 0.25s ease-out;
}
.obj__contain {
  object-fit: contain;
  margin: 2rem 0;
}

/* get in touch in xl */
.app__form {
  position: relative;
}
.bg__form {
  background-color: #ffb8a8;
}
.ellipse-a {
  position: absolute;
  left: 50%;
  top: 3%;
  background: linear-gradient(-45deg, #fda895, #ffffff);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: move-a 6s ease-in both infinite;
}
@keyframes move-a {
  50% {
    transform: translateX(-40px) translateY(0px);
  }
}
.ellipse-b {
  position: absolute;
  left: 7%;
  top: 80%;
  background: linear-gradient(-45deg, #fda895, #ffffff);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: move-b 6s ease-in both infinite;
}
@keyframes move-b {
  50% {
    transform: translateX(16px) translateY(10px);
  }
}
.ellipse-c {
  position: absolute;
  left: 85%;
  top: 60%;
  background: linear-gradient(-45deg, #fda895, #ffffff);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: move-c 6s ease-in both infinite;
}
@keyframes move-c {
  50% {
    transform: translateX(16px) translateY(10px);
  }
}
.ellipse-d {
  position: absolute;
  left: 8%;
  top: 8%;
  background: linear-gradient(-45deg, #fda895, #ffffff);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: move-d 6s ease-in both infinite;
}
@keyframes move-d {
  50% {
    transform: translateX(-16px) translateY(10px);
  }
}
.bg__form__light {
  background-color: #f1e8e6;
}
.form__radius {
  border-radius: 3rem;
}
.btn__back,
.btn__next {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}
.btn__back {
  color: var(--brand-dark);
  background-color: var(--brand-white);
}
.btn__next {
  color: var(--brand-white);
  background-color: #ffb8a8;
}
/* app map */
.app__map {
  position: relative;
}
.app__map .effect {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-dark);
  opacity: 0.8;
  display: grid;
  place-items: center;
}
.app__map .location {
  outline: none;
  border: var(--default-border);
  background-color: var(--brand-dark);
  color: var(--brand-white);
  padding: 0.5rem 1rem;
}

/* _____________________footer in xl_____________________ */
.app__footer {
  position: relative;
  background-image: url("../img/bg-footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
  color: var(--brand-white);
}
.app__footer .social__icon {
  color: var(--brand-white);
  border: 0.25px solid var(--brand-white);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  padding: 0.5rem;
}
.app__footer .social__link {
  color: var(--brand-white);
  text-decoration: none;
  margin: 0 0.75rem;
}
.app__footer .social__link:hover {
  color: var(--brand-red);
}

/* pages in xl */
.app__footer .pages__grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 8px;
}
.app__footer .page__link {
  color: var(--brand-white);
  text-decoration: none;
}
.app__footer .page__link:hover {
  border-bottom: 2px solid var(--brand-white);
}
.app__footer .subscribe__form {
  position: relative;
}
.app__footer .subscribe__form .input {
  padding: 0.5rem 5rem 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}
.app__footer .subscribe__form .input:focus {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
}
.app__footer .subscribe__form .subscribe__btn {
  position: absolute;
  right: 0.15rem;
  border-radius: 0.75rem;
  top: 0;
  border: none;
  outline: none;
  background-color: var(--brand-dark);
  color: var(--brand-white);
  padding: 0.35rem 0.75rem;
  margin: 0.15rem 0;
}
.play__store:hover,
.app__store:hover {
  opacity: 0.8;
}

/* footer in sm */
.app__footer hr {
  background: var(--brand-white);
}
.copyright {
  color: var(--brand-white);
}

/* Extra */
.text-justify {
  text-align: justify;
}

/* ________________ Screen sm ________________ */
@media (min-width: 576px) {
  /* ________________ app header in xl ________________ */
  .app__header {
    position: relative;
  }
  /* topbar in xl */
  .app__header .app__topbar {
    background-color: var(--brand-dark);
    font-size: var(--default-font-size);
    height: 48px;
    color: var(--brand-white);
    display: flex;
    align-items: center;
  }
  .app__header .social__link {
    color: var(--brand-white);
    font-size: var(--default-font-size);
    margin: 0 0.5rem;
  }
  .app__header .language {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .language .opt {
    color: var(--brand-dark);
  }
  .app__header .currency {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .currency .opt {
    color: var(--brand-dark);
  }

  /* navbar in xl */
  .app__navbar {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .app__header .app__nav__link {
    margin: 0 0.5rem;
    color: var(--brand-dark);
    text-decoration: none;
  }
  .app__header .app__nav__link:hover {
    border-bottom: 2px solid var(--brand-dark);
  }
  .tracking__form {
    position: relative;
  }
  .tracking__form .input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
  }
  .tracking__form .track {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* _____________________app main in xl_____________________ */
  .app__main {
    position: relative;
    overflow-x: hidden;
  }
  .app__shipment,
  .app__delivery,
  .app__container__ship,
  .app__plan,
  .app__form,
  .app__map {
    margin-top: 120px;
  }

  /* home section in xl */
  .app__home {
    width: 100%;
    overflow-x: hidden;
  }
  .home__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    margin-top: -220px;
    padding: 1rem 0;
  }
  .card__top {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    overflow: hidden;
    color: var(--brand-white);
    border: none;
    transform: translateY(0);
    transition: transform 0.25s ease-out;
  }
  .card__top:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .border__red {
    border: 2px solid var(--brand-red);
  }
  .learn__more {
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background: var(--brand-red);
    color: var(--brand-white);
  }
  .app__plan {
    background: url("../img/plan.png");
  }
  .app__plan .plan {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--brand-dark);
    padding: 0 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
  }
  .app__plan .plan__btn {
    border: none;
    outline: none;
    color: var(--brand-white);
    background-color: var(--brand-dark);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  /* card bottom in xl */
  .app__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    color: var(--brand-white);
  }
  .bg__card__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    border-radius: 1rem;
    transition: transform 0.25s ease-out;
  }
  .bg__card__bottom:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .obj__contain {
    object-fit: contain;
    margin: 2rem 0;
  }

  /* get in touch in xl */
  .app__form {
    position: relative;
  }
  .bg__form {
    background-color: #ffb8a8;
  }
  .ellipse-a {
    position: absolute;
    left: 50%;
    top: 25%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: move-a 6s ease-in both infinite;
  }
  @keyframes move-a {
    50% {
      transform: translateX(-40px) translateY(0px);
    }
  }
  .ellipse-b {
    position: absolute;
    left: 7%;
    top: 80%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: move-b 6s ease-in both infinite;
  }
  @keyframes move-b {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-c {
    position: absolute;
    left: 85%;
    top: 60%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-c 6s ease-in both infinite;
  }
  @keyframes move-c {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-d {
    position: absolute;
    left: 8%;
    top: 8%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-d 6s ease-in both infinite;
  }
  @keyframes move-d {
    50% {
      transform: translateX(-16px) translateY(10px);
    }
  }
  .bg__form__light {
    background-color: #f1e8e6;
  }
  .form__radius {
    border-radius: 3rem;
  }
  .btn__back,
  .btn__next {
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
  }
  .btn__back {
    color: var(--brand-dark);
    background-color: var(--brand-white);
  }
  .btn__next {
    color: var(--brand-white);
    background-color: #ffb8a8;
  }
  .app__map {
    position: relative;
  }
  .app__map .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-dark);
    opacity: 0.8;
    display: grid;
    place-items: center;
  }
  .app__map .location {
    outline: none;
    border: var(--default-border);
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.5rem 1rem;
  }

  /* _____________________footer in xl_____________________ */
  .app__footer {
    position: relative;
    background-image: url("../img/bg-footer.png");
    padding: 3rem 0;
    color: var(--brand-white);
  }
  .app__footer .social__icon {
    color: var(--brand-white);
    border: 0.25px solid var(--brand-white);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .app__footer .social__link {
    color: var(--brand-white);
    text-decoration: none;
    margin: 0 0.75rem;
  }
  .app__footer .social__link:hover {
    color: var(--brand-red);
  }

  /* pages in xl */
  .app__footer .pages__grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 8px;
  }
  .app__footer .page__link {
    color: var(--brand-white);
    text-decoration: none;
  }
  .app__footer .page__link:hover {
    border-bottom: 2px solid var(--brand-white);
  }
  .app__footer .subscribe__form {
    position: relative;
  }
  .app__footer .subscribe__form .input {
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
  }
  .app__footer .subscribe__form .input:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
  }
  .app__footer .subscribe__form .subscribe__btn {
    position: absolute;
    right: 0.15rem;
    border-radius: 0.75rem;
    top: 0;
    border: none;
    outline: none;
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.35rem 0.75rem;
    margin: 0.15rem 0;
  }
  .play__store:hover,
  .app__store:hover {
    opacity: 0.8;
  }
}

/* ________________ Screen md ________________ */
@media (min-width: 768px) {
  /* ________________ app header in xl ________________ */
  .app__header {
    position: relative;
  }
  /* topbar in xl */
  .app__header .app__topbar {
    background-color: var(--brand-dark);
    font-size: var(--default-font-size);
    height: 48px;
    color: var(--brand-white);
    display: flex;
    align-items: center;
  }
  .app__header .social__link {
    color: var(--brand-white);
    font-size: var(--default-font-size);
    margin: 0 0.5rem;
  }
  .app__header .language {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .language .opt {
    color: var(--brand-dark);
  }
  .app__header .currency {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .currency .opt {
    color: var(--brand-dark);
  }

  /* navbar in xl */
  .app__navbar {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .app__header .app__nav__link {
    margin: 0 0.5rem;
    color: var(--brand-dark);
    text-decoration: none;
  }
  .app__header .app__nav__link:hover {
    border-bottom: 2px solid var(--brand-dark);
  }
  .tracking__form {
    position: relative;
  }
  .tracking__form .input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
  }
  .tracking__form .track {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* _____________________app main in xl_____________________ */
  .app__main {
    position: relative;
    overflow-x: hidden;
  }
  .app__shipment,
  .app__delivery,
  .app__container__ship,
  .app__plan,
  .app__form,
  .app__map {
    margin-top: 120px;
  }

  /* home section in xl */
  .app__home {
    width: 100%;
    overflow-x: hidden;
  }
  .home__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    margin-top: -220px;
    padding: 1rem 0;
  }
  .card__top {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    overflow: hidden;
    color: var(--brand-white);
    border: none;
    transform: translateY(0);
    transition: transform 0.25s ease-out;
  }
  .card__top:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .border__red {
    border: 2px solid var(--brand-red);
  }
  .learn__more {
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background: var(--brand-red);
    color: var(--brand-white);
  }
  .app__plan {
    background: url("../img/plan.png");
  }
  .app__plan .plan {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--brand-dark);
    padding: 0 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
  }
  .app__plan .plan__btn {
    border: none;
    outline: none;
    color: var(--brand-white);
    background-color: var(--brand-dark);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  /* card bottom in xl */
  .app__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    color: var(--brand-white);
  }
  .bg__card__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    border-radius: 1rem;
    transition: transform 0.25s ease-out;
  }
  .bg__card__bottom:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .obj__contain {
    object-fit: contain;
    margin: 2rem 0;
  }

  /* get in touch in xl */
  .app__form {
    position: relative;
  }
  .bg__form {
    background-color: #ffb8a8;
  }
  .ellipse-a {
    position: absolute;
    left: 50%;
    top: 25%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: move-a 6s ease-in both infinite;
  }
  @keyframes move-a {
    50% {
      transform: translateX(-40px) translateY(0px);
    }
  }
  .ellipse-b {
    position: absolute;
    left: 7%;
    top: 80%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: move-b 6s ease-in both infinite;
  }
  @keyframes move-b {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-c {
    position: absolute;
    left: 85%;
    top: 60%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-c 6s ease-in both infinite;
  }
  @keyframes move-c {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-d {
    position: absolute;
    left: 8%;
    top: 8%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-d 6s ease-in both infinite;
  }
  @keyframes move-d {
    50% {
      transform: translateX(-16px) translateY(10px);
    }
  }
  .bg__form__light {
    background-color: #f1e8e6;
  }
  .form__radius {
    border-radius: 3rem;
  }
  .btn__back,
  .btn__next {
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
  }
  .btn__back {
    color: var(--brand-dark);
    background-color: var(--brand-white);
  }
  .btn__next {
    color: var(--brand-white);
    background-color: #ffb8a8;
  }
  .app__map {
    position: relative;
  }
  .app__map .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-dark);
    opacity: 0.8;
    display: grid;
    place-items: center;
  }
  .app__map .location {
    outline: none;
    border: var(--default-border);
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.5rem 1rem;
  }

  /* _____________________footer in xl_____________________ */
  .app__footer {
    position: relative;
    background-image: url("../img/bg-footer.png");
    padding: 3rem 0;
    color: var(--brand-white);
  }
  .app__footer .social__icon {
    color: var(--brand-white);
    border: 0.25px solid var(--brand-white);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .app__footer .social__link {
    color: var(--brand-white);
    text-decoration: none;
    margin: 0 0.75rem;
  }
  .app__footer .social__link:hover {
    color: var(--brand-red);
  }

  /* pages in xl */
  .app__footer .pages__grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 8px;
  }
  .app__footer .page__link {
    color: var(--brand-white);
    text-decoration: none;
  }
  .app__footer .page__link:hover {
    border-bottom: 2px solid var(--brand-white);
  }
  .app__footer .subscribe__form {
    position: relative;
  }
  .app__footer .subscribe__form .input {
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
  }
  .app__footer .subscribe__form .input:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
  }
  .app__footer .subscribe__form .subscribe__btn {
    position: absolute;
    right: 0.15rem;
    border-radius: 0.75rem;
    top: 0;
    border: none;
    outline: none;
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.35rem 0.75rem;
    margin: 0.15rem 0;
  }
  .play__store:hover,
  .app__store:hover {
    opacity: 0.8;
  }
}

/* ________________ Screen lg ________________ */
@media (min-width: 992px) {
  /* ________________ app header in xl ________________ */
  .app__header {
    position: relative;
  }
  /* topbar in xl */
  .app__header .app__topbar {
    background-color: var(--brand-dark);
    font-size: var(--default-font-size);
    height: 48px;
    color: var(--brand-white);
    display: flex;
    align-items: center;
  }
  .app__header .social__link {
    color: var(--brand-white);
    font-size: var(--default-font-size);
    margin: 0 0.5rem;
  }
  .app__header .language {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .language .opt {
    color: var(--brand-dark);
  }
  .app__header .currency {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .currency .opt {
    color: var(--brand-dark);
  }

  /* navbar in xl */
  .app__navbar {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .app__header .app__nav__link {
    margin: 0 0.5rem;
    color: var(--brand-dark);
    text-decoration: none;
  }
  .app__header .app__nav__link:hover {
    border-bottom: 2px solid var(--brand-dark);
  }
  .tracking__form {
    position: relative;
  }
  .tracking__form .input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
  }
  .tracking__form .track {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* _____________________app main in xl_____________________ */
  .app__main {
    position: relative;
    overflow-x: hidden;
  }
  .app__shipment,
  .app__delivery,
  .app__container__ship,
  .app__plan,
  .app__form,
  .app__map {
    margin-top: 120px;
  }

  /* home section in xl */
  .app__home {
    width: 100%;
    overflow-x: hidden;
  }
  .home__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    margin-top: -220px;
    padding: 1rem 0;
  }
  .card__top {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    overflow: hidden;
    color: var(--brand-white);
    border: none;
    transform: translateY(0);
    transition: transform 0.25s ease-out;
  }
  .card__top:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .border__red {
    border: 2px solid var(--brand-red);
  }
  .learn__more {
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background: var(--brand-red);
    color: var(--brand-white);
  }
  .app__plan {
    background: url("../img/plan.png");
  }
  .app__plan .plan {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--brand-dark);
    padding: 0 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
  }
  .app__plan .plan__btn {
    border: none;
    outline: none;
    color: var(--brand-white);
    background-color: var(--brand-dark);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  /* card bottom in xl */
  .app__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    color: var(--brand-white);
  }
  .bg__card__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    border-radius: 1rem;
    transition: transform 0.25s ease-out;
  }
  .bg__card__bottom:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .obj__contain {
    object-fit: contain;
    margin: 2rem 0;
  }

  /* get in touch in xl */
  .app__form {
    position: relative;
  }
  .bg__form {
    background-color: #ffb8a8;
  }
  .ellipse-a {
    position: absolute;
    left: 50%;
    top: 25%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: move-a 6s ease-in both infinite;
  }
  @keyframes move-a {
    50% {
      transform: translateX(-40px) translateY(0px);
    }
  }
  .ellipse-b {
    position: absolute;
    left: 7%;
    top: 80%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: move-b 6s ease-in both infinite;
  }
  @keyframes move-b {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-c {
    position: absolute;
    left: 85%;
    top: 60%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-c 6s ease-in both infinite;
  }
  @keyframes move-c {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-d {
    position: absolute;
    left: 8%;
    top: 8%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-d 6s ease-in both infinite;
  }
  @keyframes move-d {
    50% {
      transform: translateX(-16px) translateY(10px);
    }
  }
  .bg__form__light {
    background-color: #f1e8e6;
  }
  .form__radius {
    border-radius: 3rem;
  }
  .btn__back,
  .btn__next {
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
  }
  .btn__back {
    color: var(--brand-dark);
    background-color: var(--brand-white);
  }
  .btn__next {
    color: var(--brand-white);
    background-color: #ffb8a8;
  }
  .app__map {
    position: relative;
  }
  .app__map .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-dark);
    opacity: 0.8;
    display: grid;
    place-items: center;
  }
  .app__map .location {
    outline: none;
    border: var(--default-border);
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.5rem 1rem;
  }

  /* _____________________footer in xl_____________________ */
  .app__footer {
    position: relative;
    background-image: url("../img/bg-footer.png");
    padding: 3rem 0;
    color: var(--brand-white);
  }
  .app__footer .social__icon {
    color: var(--brand-white);
    border: 0.25px solid var(--brand-white);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .app__footer .social__link {
    color: var(--brand-white);
    text-decoration: none;
    margin: 0 0.75rem;
  }
  .app__footer .social__link:hover {
    color: var(--brand-red);
  }

  /* pages in xl */
  .app__footer .pages__grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 8px;
  }
  .app__footer .page__link {
    color: var(--brand-white);
    text-decoration: none;
  }
  .app__footer .page__link:hover {
    border-bottom: 2px solid var(--brand-white);
  }
  .app__footer .subscribe__form {
    position: relative;
  }
  .app__footer .subscribe__form .input {
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
  }
  .app__footer .subscribe__form .input:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
  }
  .app__footer .subscribe__form .subscribe__btn {
    position: absolute;
    right: 0.15rem;
    border-radius: 0.75rem;
    top: 0;
    border: none;
    outline: none;
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.35rem 0.75rem;
    margin: 0.15rem 0;
  }
  .play__store:hover,
  .app__store:hover {
    opacity: 0.8;
  }
}

/* ________________ Screen xl ________________ */
@media (min-width: 1200px) {
  /* ________________ app header in xl ________________ */
  .app__header {
    position: relative;
  }
  /* topbar in xl */
  .app__header .app__topbar {
    background-color: var(--brand-dark);
    font-size: var(--default-font-size);
    height: 48px;
    color: var(--brand-white);
    display: flex;
    align-items: center;
  }
  .app__header .social__link {
    color: var(--brand-white);
    font-size: var(--default-font-size);
    margin: 0 0.5rem;
  }
  .app__header .language {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .language .opt {
    color: var(--brand-dark);
  }
  .app__header .currency {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--brand-white);
  }
  .app__header .currency .opt {
    color: var(--brand-dark);
  }

  /* navbar in xl */
  .app__navbar {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .app__header .app__nav__link {
    margin: 0 0.5rem;
    color: var(--brand-dark);
    text-decoration: none;
  }
  .app__header .app__nav__link:hover {
    border-bottom: 2px solid var(--brand-dark);
  }
  .tracking__form {
    position: relative;
  }
  .tracking__form .input {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    outline: none;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
  }
  .tracking__form .track {
    position: absolute;
    right: 8px;
    top: 0px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  /* _____________________app main in xl_____________________ */
  .app__main {
    position: relative;
    overflow-x: hidden;
  }
  .app__shipment,
  .app__delivery,
  .app__container__ship,
  .app__plan,
  .app__form,
  .app__map {
    margin-top: 120px;
  }

  /* home section in xl */
  .app__home {
    width: 100%;
    overflow-x: hidden;
  }
  .home__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    margin-top: -220px;
    padding: 1rem 0;
  }
  .card__top {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 1rem;
    overflow: hidden;
    color: var(--brand-white);
    border: none;
    transform: translateY(0);
    transition: transform 0.25s ease-out;
  }
  .card__top:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .border__red {
    border: 2px solid var(--brand-red);
  }
  .learn__more {
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 1rem;
    background: var(--brand-red);
    color: var(--brand-white);
  }
  .app__plan {
    background: url("../img/plan.png");
  }
  .app__plan .plan {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--brand-dark);
    padding: 0 1rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
  }
  .app__plan .plan__btn {
    border: none;
    outline: none;
    color: var(--brand-white);
    background-color: var(--brand-dark);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }

  /* card bottom in xl */
  .app__card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5rem 0;
    color: var(--brand-white);
  }
  .bg__card__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
    border-radius: 1rem;
    transition: transform 0.25s ease-out;
  }
  .bg__card__bottom:hover {
    transform: translateY(-12px);
    transition: all 0.25s ease-out;
  }
  .obj__contain {
    object-fit: contain;
    margin: 2rem 0;
  }

  /* get in touch in xl */
  .app__form {
    position: relative;
  }
  .bg__form {
    background-color: #ffb8a8;
  }
  .ellipse-a {
    position: absolute;
    left: 50%;
    top: 25%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: move-a 6s ease-in both infinite;
  }
  @keyframes move-a {
    50% {
      transform: translateX(-40px) translateY(0px);
    }
  }
  .ellipse-b {
    position: absolute;
    left: 7%;
    top: 80%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: move-b 6s ease-in both infinite;
  }
  @keyframes move-b {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-c {
    position: absolute;
    left: 85%;
    top: 60%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-c 6s ease-in both infinite;
  }
  @keyframes move-c {
    50% {
      transform: translateX(16px) translateY(10px);
    }
  }
  .ellipse-d {
    position: absolute;
    left: 8%;
    top: 8%;
    background: linear-gradient(-45deg, #fda895, #ffffff);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: move-d 6s ease-in both infinite;
  }
  @keyframes move-d {
    50% {
      transform: translateX(-16px) translateY(10px);
    }
  }
  .bg__form__light {
    background-color: #f1e8e6;
  }
  .form__radius {
    border-radius: 3rem;
  }
  .btn__back,
  .btn__next {
    border: none;
    outline: none;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
  }
  .btn__back {
    color: var(--brand-dark);
    background-color: var(--brand-white);
  }
  .btn__next {
    color: var(--brand-white);
    background-color: #ffb8a8;
  }

  /* app map */
  .app__map {
    position: relative;
  }
  .app__map .effect {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--brand-dark);
    opacity: 0.8;
    display: grid;
    place-items: center;
  }
  .app__map .location {
    outline: none;
    border: var(--default-border);
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.5rem 1rem;
  }

  /* _____________________footer in xl_____________________ */
  .app__footer {
    position: relative;
    background-image: url("../img/bg-footer.png");
    padding: 3rem 0;
    color: var(--brand-white);
  }
  .app__footer .social__icon {
    color: var(--brand-white);
    border: 0.25px solid var(--brand-white);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.5rem;
  }
  .app__footer .social__link {
    color: var(--brand-white);
    text-decoration: none;
    margin: 0 0.75rem;
  }
  .app__footer .social__link:hover {
    color: var(--brand-red);
  }

  /* pages in xl */
  .app__footer .pages__grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 8px;
  }
  .app__footer .page__link {
    color: var(--brand-white);
    text-decoration: none;
  }
  .app__footer .page__link:hover {
    border-bottom: 2px solid var(--brand-white);
  }
  .app__footer .subscribe__form {
    position: relative;
  }
  .app__footer .subscribe__form .input {
    padding: 0.5rem 5rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
  }
  .app__footer .subscribe__form .input:focus {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.3);
  }
  .app__footer .subscribe__form .subscribe__btn {
    position: absolute;
    right: 0.15rem;
    border-radius: 0.75rem;
    top: 0;
    border: none;
    outline: none;
    background-color: var(--brand-dark);
    color: var(--brand-white);
    padding: 0.35rem 0.75rem;
    margin: 0.15rem 0;
  }
  .play__store:hover,
  .app__store:hover {
    opacity: 0.8;
  }
}
